# --- Modulele  ---
node_modules/
*/node_modules/

# --- Secrete ---
.env

# --- React Build  ---
/frontend/dist/
/frontend/build/

# --- Fișiere de sistem inutile (Mac/Windows) ---
.DS_Store
Thumbs.db